name: CI

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

jobs:
  go-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module:
          - gateway
          - pkg
          - services/auth
          - services/cart
          - services/catalog
          - services/order

    steps:
      - uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.work

      - name: Go test (${{ matrix.module }})
        working-directory: ${{ matrix.module }}
        run: go test -v -count=1 ./...
